/* Hero code from Hinkle */
body {
  margin: 0;
  padding: 0;
}
.hero {
  text-align: center;
  display: grid;
  place-content: center;
  /* Full width */
  width: 100%;
  /* Height of screen */
  height: 100vh;
  color: #ffffff;
  background-color: #ffffff;
  font-size: 80px;
  box-sizing: border-box;
  /*  to fix position on screen */
  
  position: fixed; /* Glue to screen */
  top: 0; /* Glue top to 0th pixel of the top */
  left: 0; /* Glue left to 0th pixel from left */
 
}