/* Hero code from Hinkle */
body {
  margin: 0;
  padding: 0;
}
.hero {
  text-align: center;
  display: grid;
  place-content: center;
  width: 100%;
  color: #ffffff;
  font-size: 80px;
  box-sizing: border-box;
  /* uncomment to fix */
/*  
  position: fixed;
  top: 0;
  left: 0;
 */ 
}